---
import "../style.css"
import axios from "axios";

const GITHUB_TOKEN = import.meta.env.GITHUB_TOKEN

let page = 1;
let activities = [];

while (true) {
	const response = await axios.get(`https://api.github.com/users/BIlla05/events?page=${page}&per_page=100`, {
		headers: {
			Authorization: `Bearer ${GITHUB_TOKEN}`
		}
	});

	if (response.data.length === 0) {
		break;
	}

	const data = response.data;

	for (let i=0;i<data.length;i++){
		const date = new Date(data[i]?.created_at);
		let repo_name = data[i]?.repo?.name;
		let issue_title = data[i]?.payload?.issue?.title;
		let commit_msg = data[i]?.payload?.commits?.[0]?.message;

		let existingActivity = activities.find(a => a.issue_title === issue_title);

		if (existingActivity) {
			let existingDate = new Date(existingActivity.date);
			if (date > existingDate) {
				let index = activities.indexOf(existingActivity);
				activities[index] = {
					date: date,
					repo_name: repo_name,
					issue_title: issue_title,
					commit_msg: commit_msg
				};
			}
		} else {
			activities.push({
				date: date,
				repo_name: repo_name,
				issue_title: issue_title,
				commit_msg: commit_msg
			});
		}
	}

	page++;
}

console.log(activities)
---

<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Biresh Biswas</title>

</head>
<body>
	{activities.map(ac => {

	})}
    <div class="relative min-h-screen bg-light-blue-200 p-10 transition-colors duration-500">
                <main class="min-h-screen">
                    <section class="flex flex-col md:flex-row gap-10">
                        <div class="flex-1">
                            <div class="flex flex-col md:flex-row gap-4 items-center"><br>
                                <img
                                    alt="Profile Picture"
                                    class="rounded-full w-48 h-48 object-cover"
                                    height="200"
                                    src="/pic.png"
                                    style="aspect-ratio:200/200;object-fit:cover"
                                    width="200"
                                />
                                <div>
                                    <h1 class="text-4xl font-bold text-gray-800 dark:text-gray-400 mb-4">About Me</h1>
                                    <p class="text-gray-600 dark:text-gray-400 text-lg">
                                        For the last four months, my focus has been on contributing to open-source projects. Now, I've made the decision to embark on building my own projects,starting with revamping my personal website.
                                    </p><br>
                                    <p class="text-gray-600 dark:text-gray-400 text-lg mt-4">
                                        Throughout this period, I've discovered a preference for backend development. So to enhance the functionality of my site, I've integrated the GitHub API to display my contributions dynamically.
                                    </p>
                                </div>
                            </div>
                            <div class="mt-10">
                                <h1 class="text-4xl font-bold text-gray-800 dark:text-gray-400 mb-4">Currently Working On</h1>
                                <div class="p-4 border border-gray-300 dark:border-gray-700 rounded bg-white dark:bg-gray-800 transition-colors duration-500">
                                    <a href="https://github.com/Billa05/Billa05.github.io" target="_blank"><h2 class="text-2xl font-bold text-gray-800 dark:text-gray-200 mb-2">My website</h2></a>
                                    <p class="text-gray-600 dark:text-gray-400">
                                        integrated GitHub API in my website.
                                    </p>
                                </div>
                            </div>
                            <div class="mt-10">
                                <h1 class="text-4xl font-bold text-gray-800 dark:text-gray-400 mb-4">Portfolio</h1>
                                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                                    <div class="p-4 border border-gray-300 dark:border-gray-700 rounded bg-white dark:bg-gray-800 transition-colors duration-500">
                                       <a href="https://billa05.github.io/tictactoe/TicTacToe.html" target="_blank"><h2 class="text-2xl font-bold text-gray-800 dark:text-gray-200 mb-2">Tic-Tac-Toe</h2></a>
                                        <p class="text-gray-600 dark:text-gray-400">
                                            I created a Tic Tac Toe game using JavaScript, resulting in a code that heavily features JavaScript.</p>
                                    </div>
                                    <div class="p-4 border border-gray-300 dark:border-gray-700 rounded bg-white dark:bg-gray-800 transition-colors duration-500">
                                        <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-200 mb-2">TO-DO Application</h2>
                                        <p class="text-gray-600 dark:text-gray-400"> I am building a to-do application that will save the tasks in the cookies of the website.</p>
                                    </div>
                                    <div class="p-4 border border-gray-300 dark:border-gray-700 rounded bg-white dark:bg-gray-800 transition-colors duration-500">
                                        <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-200 mb-2">Project 3</h2>
                                        <p class="text-gray-600 dark:text-gray-400">SOON</p>
                                    </div>
                                    <div class="p-4 border border-gray-300 dark:border-gray-700 rounded bg-white dark:bg-gray-800 transition-colors duration-500">
                                        <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-200 mb-2">Project 4</h2>
                                        <p class="text-gray-600 dark:text-gray-400">SOON</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex flex-col items-center justify-center">
                            <h1 class="text-4xl font-bold text-gray-800 dark:text-gray-400 mb-4">Github updates</h1>
                            <div class="flex flex-col items-center space-y-8	">
							{activities.map((activity, index) => (
								<div class="group relative">
									<div class="flex items-center justify-center w-10 h-10 rounded-full bg-transparent border border-gray-300 dark:border-gray-700 text-gray-500 dark:text-gray-400 hover:bg-gray-300 dark:hover:bg-gray-700 hover:text-white dark:hover:text-white transition-colors duration-500">
										<span>{index + 1}</span>
									</div>
									<div class={index == activities.length - 1 ? "absolute bottom-full w-auto mt-2 p-2 bg-white dark:bg-gray-900 text-gray-700 dark:text-gray-300 rounded shadow opacity-0 group-hover:opacity-100 transition-opacity duration-200" : "absolute top-full w-auto mt-2 p-2 bg-white dark:bg-gray-900 text-gray-700 dark:text-gray-300 rounded shadow opacity-0 group-hover:opacity-100 transition-opacity duration-200"}>
										{activity.issue_title === undefined 
											? 
											<>
												<p><a href={`https://github.com/${activity.repo_name}`} target="_blank">{activity.repo_name}</a></p>
												<br/><p>Self Project</p>
											</> 
											: 
											<>
												<p><a href={`https://github.com/${activity.repo_name}`} target="_blank">{activity.repo_name}</a></p>
												<br/><p>Issue: {activity.issue_title}</p>
											</>
										}
									</div>
					
								</div>
								<div class={index !== activities.length-1 ? "h-20 w-px bg-gray-300 dark:bg-gray-700" : ""}></div>
							))}
                            </div>
                        </div>
                        </div>
                    </section>
                </main>
            </div>   
</body>
</html>
